# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/
ENV/
*.env

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask instance folder
instance/

# Google service account credentials
service_account.json
credentials.json

